html {
  background-color: #e6e6e6;
}

#container-map {
  margin-left: 30px;
  margin-right: 18px;
}

#map {
  height: 80vh;
}

img.responsive {
  width: 100%;
  min-width: 960px;
}

.legend {
  line-height: 22px;
  color: #666666;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.legend .color {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
  border: solid 1px #666666;
}